@charset "utf-8";

/* 메인배너 */
#main_bn {border:1px solid #cdcdcd;position:relative;margin-bottom:20px}
#main_bn .bx-viewport{ border-radius:15px;}
#main_bn .slide-wrap{display:none}
#main_bn .slide-wrap img{max-width:100%;height:auto}
#main_bn .bx-prev{position:absolute;top:50%;left:0;margin-top:-35px;z-index:99;background:url(../img/btn_prev.png) no-repeat 50% 50%;width:50px;height:70px;;text-indent:-999px;overflow:hidden;opacity:0.6}
#main_bn .bx-prev:hover{opacity:1}
#main_bn .bx-next{position:absolute;top:50%;right:0;margin-top:-35px;z-index:99;background:url(../img/btn_next.png) no-repeat 50% 50%;width:50px;height:70px;;text-indent:-999px;overflow:hidden;opacity:0.6}
#main_bn .bx-next:hover{opacity:1}
#main_bn #bx_pager {border-top:1px solid #cdcdcd}
#main_bn #bx_pager ul:after {display:block;visibility:hidden;clear:both;content:""}
#main_bn #bx_pager li{float:left;border-left:1px solid #cdcdcd;width:20%;text-align:center;line-height:35px}
#main_bn #bx_pager li:first-child{border-left:0}
#main_bn #bx_pager li a{display:block}
#main_bn #bx_pager li a.active{background:#56d2ca;color:#fff}
.bn_first{
    width:100%;
}

/*서브배너*/
#banner_side {}
.sb_bn { display:none}
.sb_bn img{width:100%;height:auto;}
#banner_side h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#banner_side .bx-controls{position:relative;float:right;margin-bottom:50px;}
#banner_side .bx-prev{display:block;float:left;background:url(../img/btn_sb_prev.png) no-repeat 50% 50% #fff;width:15px;height:15px;text-indent:-999px;overflow:hidden;border:1px solid #ccc;}
#banner_side .bx-next{display:block;margin-left:-1px;float:left;background:url(../img/btn_sb_next.png) no-repeat 50% 50% #fff;width:15px;height:15px;text-indent:-999px;overflow:hidden;border:1px solid #ccc;}
